body{
    color: white;
}
.tittle-center {
    text-align: center;
    margin-top: 30px;
}
.overlay {
    margin-top: 30px;
}
.h1{
    background-color: plum;
}

.container{
    width: 450px;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    backdrop-filter: blur(10px);
}
.container-1{
    width: 450px;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color: #E9A5EE;
    color: black;
}