{% extends 'base/base.html' %} {% block tittle %} Courses {% endblock %} {% block contents %}
<head>
    <style>
        body{
            background-image: url({{url_for('static', filename='imgs/backg.jpg')}})
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles/student_update.css')}}">
</head>

<div>
    <div class="text-end" style="margin-top: 1rem">
        <a href="{{ url_for('index') }}" type="submit" class="btn btn-outline-light">
            Home
        </a>
        <a href="{{ url_for('list_courses') }}" type="submit" class="btn btn-outline-light">
            List
        </a>
    </div>
    <form action="{{ url_for('create_courses') }}" method="POST">
        <div class="con">
            <header class="head-form">
                <h1>Courses create</h1>
            </header>
            <div class="field-set">
                <label style="margin-right: 2.5rem" for="">Names</label><input class="form-input" id="txt-input"
                    type="text" name="name" placeholder=""><br>
                <label style="margin-right: 1.5rem" for="">Semester</label><select class="select"  name="semester">
                    <option value="0" selected disabled>Select Semester</option>
                    <option value="1">1. First</option>
                    <option value="2">2. Second</option>
                    <option value="3">3. Third</option>
                    <option value="4">4. Fourth</option>
                    <option value="5">5. Fifth</option>
                    <option value="6">6. Sixth</option>
                    <option value="7">7. Seventh</option>
                    <option value="8">8. Eighth</option>
                    <option value="9">9. Ninth</option>
                    <option value="10">10. Tenth</option>
                </select><br>
                </div>  
                <div class="text-center" style="width: 400px">
                    <button type="submit" class="btn btn-light">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
