{% extends 'base/base.html' %} {% block tittle %} Users {% endblock %} {% block contents %}

<head>
    <style>
        body {
            background-image: url({{url_for('static', filename='imgs/backg.jpg')}})}
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles/student_update.css')}}">
</head>

<body>
    <div class="text-end" style="margin-top: 1rem">
        <a href="{{ url_for('index') }}" type="submit" class="btn btn-outline-light">
            Home
        </a>
        <a href="{{ url_for('list_students') }}" type="submit" class="btn btn-outline-light">
            List
        </a>
    </div>
    <div>
        <form action="{{ url_for('create_students') }}" method="POST">
            <div class="con">
                <header class="head-form">
                    <h1>Students Create</h1>
                </header>
                <div class="field-set">
                    <label class="label" for="">Identification</label><input class="form-input" id="txt-input"
                        type="text" name="uid" placeholder=""><br>
                    <label class="label" for="">Names</label><input class="form-input" id="txt-input" type="text"
                        name="names" placeholder=""><br>
                    <label class="label" for="">Last Names</label><input class="form-input" id="txt-input" type="text"
                        name="lastnames" placeholder=""><br>
                    <label class="label" for="">Phone</label><input class="form-input" id="txt" type="text" name="phone"
                        placeholder=""><br>
                    <label class="label" for="">Email</label><input class="form-input" type="text" id="pwd" name="email"
                        placeholder=""><br>
                    <label class="label">Semester</label><select class="select" name="semester">
                        <option value="0" selected disabled>Select Semester</option>
                        <option value="1">1. First</option>
                        <option value="2">2. Second</option>
                        <option value="3">3. Third</option>
                        <option value="4">4. Fourth</option>
                        <option value="5">5. Fifth</option>
                        <option value="6">6. Sixth</option>
                        <option value="7">7. Seventh</option>
                        <option value="8">8. Eighth</option>
                        <option value="9">9. Ninth</option>
                        <option value="10">10. Tenth</option>
                    </select><br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-light">
                            Save
                        </button>
                    </div>
                </div>
        </form>
    </div>


    {% endblock %}